<!DOCTYPE html>
<html lang="pt-br" data-theme="{{ tema }}">

<head>

<meta charset="UTF-8">



<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
<script src="https://unpkg.com/lucide@latest"></script>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<script>
function copiarTexto(texto){

    const temp = document.createElement("textarea");
    temp.value = texto;

    temp.style.position = "fixed";
    temp.style.left = "-9999px";
    temp.style.top = "0";

    document.body.appendChild(temp);
    temp.focus();
    temp.select();

    try {
        document.execCommand("copy");
        alert("Copiado!");
    } catch (err) {
        alert("Erro ao copiar.");
    }

    document.body.removeChild(temp);
}


function toggleNovoBanco(){

    const conteudo = document.getElementById("conteudoNovoBanco");
    const icone = document.getElementById("iconeNovoBanco");

    conteudo.classList.toggle("ativo");

    icone.style.transform =
        conteudo.classList.contains("ativo")
        ? "rotate(180deg)"
        : "rotate(0deg)";

    lucide.createIcons();
}


function toggleSenha(id, botao){

    const campo = document.getElementById(id);

    if(!campo){
        return;
    }

    if(campo.type === "password"){
        campo.type = "text";
        botao.innerHTML = '<i data-lucide="eye-off"></i>';
    }else{
        campo.type = "password";
        botao.innerHTML = '<i data-lucide="eye"></i>';
    }

    lucide.createIcons();
}

function toggleBanco(id){

    const conteudo = document.getElementById(id);

    if(!conteudo){
        return;
    }

    conteudo.style.display =
        conteudo.style.display === "block"
        ? "none"
        : "block";
}

function filtrarBancos() {

    let termo = document
        .getElementById("buscarBanco")
        .value
        .toLowerCase();

    let cards = document.querySelectorAll(".banco-card");

    cards.forEach(card => {

        let nome = card
            .querySelector(".banco-titulo")
            .innerText
            .toLowerCase();

        card.style.display =
            nome.includes(termo)
            ? "block"
            : "none";
    });
}

function toggleNovoAcesso(id){

    const box = document.getElementById(id);

    if(!box){
        return;
    }

    box.style.display =
        box.style.display === "block"
        ? "none"
        : "block";
}
</script>

</head>

<body>



<!-- SIDEBAR -->
<div class="sidebar" id="sidebar">

    <button class="toggle-btn sidebar-toggle" onclick="toggleSidebar()" title="Recolher menu">
    <i data-lucide="panel-left-close"></i>
    </button>

<a href="/home">
    <i data-lucide="home"></i>
    <span class="text">Home</span>
</a>

{% if tipo == "user" %}
<a href="/vendas">
    <i data-lucide="circle-dollar-sign"></i>
    <span class="text">Produção</span>
</a>
{% endif %}

<a href="/compra-divida/clientes">
    <i data-lucide="calculator"></i>
    <span class="text">Compras</span>
</a>

<a href="/termos">
    <i data-lucide="file-text"></i>
    <span class="text">Gerar Termo</span>
</a>

<a href="/termos/historico">
    <i data-lucide="files"></i>
    <span class="text">Termos</span>
</a>

<a href="/bancos"class="active">
    <i data-lucide="building-2"></i>
    <span class="text">Bancos</span>
</a>

<a href="/clt">
    <i data-lucide="briefcase-business"></i>
    <span class="text">CLT</span>
</a>

<a href="/inss">
    <i data-lucide="badge-dollar-sign"></i>
    <span class="text">INSS</span>
</a>

<a href="/fgts">
    <i data-lucide="lock-keyhole"></i>
    <span class="text">FGTS</span>
</a>

<a href="/compra-divida">
    <i data-lucide="landmark"></i>
    <span class="text">Compra</span>
</a>

{% if tipo in ["master", "adm"] %}
<a href="/admin">
    <i data-lucide="settings"></i>
    <span class="text">Admin</span>
</a>
{% endif %}

<a href="/logout">
    <i data-lucide="log-out"></i>
    <span class="text">Sair</span>
</a>

</div>
<!-- CONTEÚDO -->
<div class="conteudo">

<div class="page">

    <!-- TOPO -->
    <h1><i data-lucide="building-2"></i> Bancos</h1>


    <div class="busca-bancos">
    <input
        type="text"
        id="buscarBanco"
        placeholder="🔍 Buscar banco..."
        onkeyup="filtrarBancos()">
        </div>

 <div class="card-novo-banco">

    <div class="card-novo-header" onclick="toggleNovoBanco()">

        <div class="titulo-card">
            <i data-lucide="plus-circle"></i>
            <span>Novo Banco</span>
        </div>

        <i id="iconeNovoBanco" data-lucide="chevron-down"></i>

    </div>

    <div id="conteudoNovoBanco" class="card-novo-conteudo">

        <form action="/bancos/criar" method="POST" class="novo-banco-form">

            <input
                type="text"
                name="nome"
                placeholder="Nome do banco"
                required
            >

            <input
                type="url"
                name="link"
                placeholder="Link do banco"
            >

            <input
                type="text"
                name="observacao"
                placeholder="Observação"
            >

            <button type="submit">
                <i data-lucide="plus"></i>
                Cadastrar Banco
            </button>

        </form>

    </div>

</div>

</form>
    <!-- GRID -->
    <div class="grid-home">

        {% for banco in bancos %}

        <div class="card-home banco-card">

            <!-- TOPO -->
          <div class="banco-topo">

            <div class="banco-info"
                onclick="toggleBanco('banco{{ banco.id }}')">

                <h3 class="banco-titulo">
                    <i data-lucide="landmark"></i>
                    {{ banco.nome }}
                </h3>

                {% if banco.observacao %}
                <p class="subtexto">
                    {{ banco.observacao }}
                </p>
                {% endif %}

            </div>

            <div class="acoes-topo-banco">

                {% if tipo|lower in ["master","admin","adm"] %}
                <a
                    href="/bancos/excluir/{{ banco.id }}"
                    class="btn-excluir-banco"
                    onclick="return confirm('Deseja realmente excluir o banco {{ banco.nome }}? Todos os acessos cadastrados também serão excluídos.')"
                >
                    <i data-lucide="trash-2"></i>
                </a>
                {% endif %}

                <div class="seta"
                    onclick="toggleBanco('banco{{ banco.id }}')">
                    ▼
                </div>

    </div>

</div>
   

            <!-- BOTÃO -->
            <a href="{{ banco.link }}" target="_blank" class="btn-sistema">
            <i data-lucide="external-link"></i>
            Abrir Sistema
            </a>

          


            <!-- EXPANSÍVEL -->
            <div
                id="banco{{ banco.id }}"
                class="conteudo-banco"
            >

                <!-- ACESSOS -->
                <div style="margin-top:20px;">

                    {% for acesso in banco.acessos %}

                    <div class="acesso-box">

                       {% if tipo|lower|trim in ["master","adm","admin"] %}

                       <!-- MASTER -->
<form method="POST" action="/bancos/acesso/editar/{{ acesso.id }}">

    <input
        name="descricao"
        value="{{ acesso.descricao }}"
        placeholder="Descrição"
        style="margin-bottom:10px;"
    >

    <input
        name="login"
        value="{{ acesso.login }}"
        placeholder="Login"
        style="margin-bottom:10px;"
    >

 <div class="senha-box senha-box-inline">

    <input
        id="senha-view{{ acesso.id }}"
        type="password"
        value="{{ acesso.senha }}"
        readonly
    >

    <div class="senha-acoes">
        <button
            type="button"
            class="btn-icone"
            onclick="toggleSenha('senha-view{{ acesso.id }}', this)">
            <i data-lucide="eye"></i>
        </button>

        <button
            type="button"
            class="btn-icone"
            onclick='copiarTexto({{ acesso.senha|tojson }})'>
            <i data-lucide="copy"></i>
        </button>
    </div>

</div>
    <div class="acoes-banco">

        <button class="btn btn-verde">
            Salvar
        </button>

        <a
            href="/bancos/acesso/deletar/{{ acesso.id }}"
            class="btn btn-vermelho">
            Excluir
        </a>

    </div>

    

</form>

                 {% else %}

                        <!-- VISUALIZAÇÃO -->
                        <div style="
                            display:flex;
                            flex-direction:column;
                            gap:10px;
                        ">

                            <input
                                value="{{ acesso.descricao }}"
                                readonly
                            >

                            <input
                                value="{{ acesso.login }}"
                                readonly
                            >
                           <div class="senha-wrapper">

                            <input
                                id="senha-view{{ acesso.id }}"
                                type="password"
                                value="{{ acesso.senha }}"
                                readonly
                            >

                            <div class="senha-acoes">
                                <button type="button" class="btn-icone"
                                    onclick="toggleSenha('senha-view{{ acesso.id }}', this)">
                                    <i data-lucide="eye"></i>
                                </button>

                                <button type="button" class="btn-icone"
                                    onclick='copiarTexto({{ acesso.senha|tojson }})'>
                                    <i data-lucide="copy"></i>
                                </button>
                            </div>

</div>

                        </div>

                        {% endif %}

                    </div>

                    {% endfor %}

                </div>

                <!-- NOVO ACESSO -->
                {% if tipo|lower|trim in ["master","adm","admin"] %}
<div class="novo-acesso">

    <button type="button"
            class="btn-novo-acesso"
            onclick="toggleNovoAcesso('novo{{ banco.id }}')">
        ➕ Novo acesso
    </button>

    <div id="novo{{ banco.id }}" class="novo-acesso-form">

        <form method="POST" action="/bancos/acesso/criar">

            <input type="hidden"
                   name="banco_id"
                   value="{{ banco.id }}">

            <input name="descricao"
                   placeholder="Descrição">

            <input name="login"
                   placeholder="Login">

            <input name="senha"
                   placeholder="Senha">

            <button class="btn btn-roxo" style="width:100%;">
                Salvar novo acesso
            </button>

        </form>

    </div>

</div>

                {% endif %}

            </div>

        </div>

        {% endfor %}

    </div>

</div>

</div>
<script>
function toggleSidebar() {

    const sidebar = document.getElementById("sidebar");
    const conteudo = document.querySelector(".conteudo");
    const btn = document.querySelector(".toggle-btn");

    sidebar.classList.toggle("closed");

    if (conteudo) {
        conteudo.classList.toggle("sidebar-fechada");
    }

    localStorage.setItem(
        "sidebarFechada",
        sidebar.classList.contains("closed")
    );

    btn.innerHTML =
        sidebar.classList.contains("closed")
        ? "▶"
        : "◀";
}

window.addEventListener("load", () => {

    const sidebar = document.getElementById("sidebar");
    const conteudo = document.querySelector(".conteudo");
    const btn = document.querySelector(".toggle-btn");

    if(localStorage.getItem("sidebarFechada") === "true"){

        sidebar.classList.add("closed");

        if(conteudo){
            conteudo.classList.add("sidebar-fechada");
        }

        btn.innerHTML = "▶";
    }
});
</script>


<script>
function toggleNovoAcesso(id){

    const box = document.getElementById(id);

    if(box.style.display === "block"){
        box.style.display = "none";
    } else {
        box.style.display = "block";
    }
}
</script>
<script>
lucide.createIcons();
</script>
</body>
</html>