<!DOCTYPE html>
<html lang="pt-br" data-theme="{{ tema }}">
<head>
    <meta charset="UTF-8">

    <title>{% block titulo %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}">
    <script src="https://unpkg.com/lucide@latest"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=2">
</head>

<body>

<script>
/* =========================
ONLOAD (UNIFICADO - ESSENCIAL)
========================= */
window.addEventListener("load", function () {

    let aba = localStorage.getItem("abaAtiva") || "usuarios";
    abrir(aba);

    const sidebar = document.getElementById("sidebar");
    const conteudo = document.querySelector(".conteudo");
    const btn = document.querySelector(".toggle-btn");

    if (localStorage.getItem("sidebarFechada") === "true") {
        sidebar.classList.add("closed");

        if (conteudo) conteudo.classList.add("sidebar-fechada");

        if (btn) btn.innerHTML = "▶";
    }
});

function toggleSidebar() {

    const sidebar = document.getElementById("sidebar");
    const conteudo = document.querySelector(".conteudo");
    const btn = document.querySelector(".toggle-btn");

    sidebar.classList.toggle("closed");

    if (conteudo) {
        conteudo.classList.toggle("sidebar-fechada");
    }

    localStorage.setItem(
        "sidebarFechada",
        sidebar.classList.contains("closed")
    );

    btn.innerHTML =
        sidebar.classList.contains("closed")
        ? "▶"
        : "◀";
}

</script>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="sidebar" id="sidebar">

    <button class="toggle-btn sidebar-toggle" onclick="toggleSidebar()" title="Recolher menu">
    <i data-lucide="panel-left-close"></i>
    </button>

<a href="/home" >
    <i data-lucide="home"></i>
    <span class="text">Home</span>
</a>

{% if tipo == "user" %}
<a href="/vendas">
    <i data-lucide="circle-dollar-sign"></i>
    <span class="text">Produção</span>
</a>
{% endif %}

<a href="/compra-divida/clientes">
    <i data-lucide="calculator"></i>
    <span class="text">Compras</span>
</a>

<a href="/termos">
    <i data-lucide="file-text"></i>
    <span class="text">Gerar Termo</span>
</a>

<a href="/termos/historico">
    <i data-lucide="files"></i>
    <span class="text">Termos</span>
</a>

<a href="/bancos">
    <i data-lucide="building-2"></i>
    <span class="text">Bancos</span>
</a>

<a href="/clt">
    <i data-lucide="briefcase-business"></i>
    <span class="text">CLT</span>
</a>

<a href="/inss">
    <i data-lucide="badge-dollar-sign"></i>
    <span class="text">INSS</span>
</a>

<a href="/fgts">
    <i data-lucide="lock-keyhole"></i>
    <span class="text">FGTS</span>
</a>

<a href="/compra-divida">
    <i data-lucide="landmark"></i>
    <span class="text">Compra</span>
</a>

{% if tipo in ["master", "adm"] %}
<a href="/admin">
    <i data-lucide="settings"></i>
    <span class="text">Admin</span>
</a>
{% endif %}

<a href="/logout">
    <i data-lucide="log-out"></i>
    <span class="text">Sair</span>
</a>

</div>

<!-- CONTEÚDO -->
<div class="conteudo">

    {% block conteudo %}{% endblock %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert-success">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% endwith %}

</div>
<script>
lucide.createIcons();
</script>
</body>
</html>