{% extends "base.html" %}

{% block conteudo %}

<h1>📚 Histórico de Termos</h1>

<table>

    <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>CPF</th>
        <th>Valor</th>
        <th>Data</th>
    </tr>

    {% for termo in termos %}

    <tr>

        <td>{{ termo["id"] }}</td>

        <td>{{ termo["cliente"] }}</td>

        <td>{{ termo["cpf"] }}</td>

        <td>R$ {{ termo["valor_total"] }}</td>

        <td>{{ termo["data_criacao"] }}</td>

    </tr>

    {% endfor %}

</table>

{% endblock %}